/* Fav List
---------------------------------------------------------------------------- */

.fav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Fav Item
---------------------------------------------------------------------------- */

.fav-item {
  background-color: var(--color-lightest);
  display: inline-block;
  padding: var(--s) var(--m) var(--s) var(--s);
  position: relative;

  &::before{
    position: absolute;
    font-size: var(--xxl);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: var(--l);
    top: 0;
    bottom: 0;
  }

  p, address{
    margin: 0;
    font-style: normal;
    margin-left: var(--xxxl);
    line-height: var(--lh-tight);
  }

  p{
    font-weight: var(--fw-medium);
  }

  address{
    font-size: smaller;
  }
}
